@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.left-side {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(248, 250, 252, 1);
}

.logo {
    width: 384px;
    position: fixed;
    top: 10px;
    left: 135px;
}

.main {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: #1E293B;
    margin: 0;
}

.subtext {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #475569;
    width: 350px;
    margin: 20px 0 0 0;
}

.email,
.password {
    display: flex;
    flex-direction: column;
}

.email label,
.password label {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: #1E293B;
    margin-top: 30px;
    margin-bottom: 5px;
}

.email input,
.password input {
    width: 384px;
    height: 53px;
    border: 1px solid #E2E8F0;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    border-radius: 4px;
    color: #000;
    padding: 10px;
}

.email input::placeholder,
.password input::placeholder {
    color: #94A3B8;
}

.email input:focus,
.password input:focus,
.email input:hover,
.password input:hover {
    border: 1px solid #7C3AED;
    outline: none;
}

.error-message {
    display: none;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #ED3A5A;
}

.title-password {
    display: flex;
    justify-content: space-between;
    width: 384px;
}

.title-password a {
    text-decoration: none;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: #7C3AED;
    margin-top: 30px;
    margin-bottom: 5px;
}

.title-password a:hover,
.title-password a:focus {
    text-decoration: underline;
}

.input-password {
    display: flex;
}

.eye-button {
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    position: relative;
    top: 15px;
    right: 30px;
    padding: 0px;
    cursor: pointer;
}

.submit {
    width: 384px;
    height: 56px;
    background-color: #7C3AED;
    color: #fff;
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

.submit:hover,
.submit:focus {
    background-color: #9F67FF;
    transition: all 0.3s ease-in-out;
}

.create-acount p {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #475569;
    margin: 0;
}

.create-acount a {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #7C3AED;
    text-decoration: none;
}

.create-acount a:hover,
.create-acount a:focus {
    text-decoration: underline;
}

.right-side img {
    width: 50vw;
    height: 100vh;
}